@import "../../assets/scss/utilities/variables";
.operator-inputs-wrapper {
  display: flex;
  gap: 10px;
  width: 100% !important;
  height: 100% !important;
  padding: 15px;
}
#panel1a-header {
  background: #f0f0f0;
  border-radius: 0px;
  border: none;
  width: 100%;
}
#select-category {
  text-align: left;
}
#add-article-btn {
  background-color: $purple;
  color: $pure_white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}
#add-operator-btn {
  padding: 12px 46px;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  line-height: 27px;
  margin: 0 5px 0 5px;
  width: 98.3%;
  color: $lighter_red;
  background-color: $purple;
  border: 1px solid $purple;
  color: $pure_white;
  border-radius: 10px;
  text-transform: capitalize;
  &:hover {
    background-color: $light_gray2;
    color: $purple;
  }
}
#save-draft-btn {
  @extend #add-operator-btn;
  background-color: white !important ;
  border: 1px solid $purple !important;
  color: $purple !important;
}
.fistname-lastname-email-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.password-phone-role-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}
.uploadBtn {
  background: $purple !important;
  color: #ffffff !important;
  width: 99px !important;
  height: 37px !important;
}
.operator-modal {
  & .css-1t1j96h-MuiPaper-root-MuiDialog-paper,
  .css-uhb5lp {
    width: 100% !important;
    height: fit-content !important;
    border-radius: 15px !important;
  }
}
.add-operator-image {
  border: none !important;
}

.circular-progress-add-operator {
  width: 16.67px;
  height: 16.67px;
  color: $pure_white !important;
}

.circular-progress-assign-operator {
  width: 30px !important;
  height: 30px !important;
  color: $pure_white !important;
}

.circular-progress-delete-modal {
  width: 30px !important;
  height: 30px !important;
  color: $lighter_red !important;
}

.circular-progress-add-operator-hovering {
  @extend .circular-progress-add-operator;
  color: $purple !important;
}
.update-user-phone-number-wrapper {
  margin-top: 2px;
  margin-bottom: 18px;
  label {
    font-weight: 500;
    margin-bottom: 3px;
  }
}
.drawer-title {
  color: #9c9dab;
  justify-content: space-between;
  display: flex;
  font-size: 15px !important;
  height: 41px;
  font-weight: bold;
  font-family: "Poppins", sans-serif !important;
  padding: 10px !important;
}
.info-modal {
  text-align: center;

  & .css-1t1j96h-MuiPaper-root-MuiDialog-paper,
  .css-uhb5lp {
    border-radius: 15px !important;
    max-width: 577px !important;
    max-height: 616px !important;
    padding-bottom: 17px !important;
  }
  & .assign-icon {
    width: 71px;
    height: 71px;
    margin-top: 40px;
    display: flex;
    align-self: center;
  }
  & .assign-operator-title {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: $pure_black;
  }
  & .assign-operator-text {
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    line-height: 27px;
    text-transform: capitalize;
    color: $darker_gray1;
    & span {
      @extend .assign-operator-text;
      color: $lighter_red;
    }
  }

  & .search-input-modal {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $light_gray3;
    max-width: 700px;
    // margin: 24px auto 0 auto;
    padding: 12.5px;
    border-radius: 10px;
    & > input {
      width: 100%;
      resize: none;
      border: none;
      font-family: "Poppins", sans-serif !important;
      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
    }
  }

  & .assign-operator-input {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $light_gray3;
    max-width: 492px;
    margin: 24px auto 0 auto;
    padding: 12.5px;
    border-radius: 10px;
    & > input {
      width: 100%;
      resize: none;
      border: none;
      font-family: "Poppins", sans-serif !important;
      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        font-size: 16px;
        line-height: 27px;
        font-family: "Poppins", sans-serif !important;
        color: $darker_gray4;
      }
    }
  }

  & .setup-reminder-input {
    width: 100%;
    @extend .assign-operator-input;
    padding: 0;
    padding-left: 14px;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    & .setup-reminder-date {
      width: 50%;
      display: flex;
    }
    & .setup-reminder-time {
      display: flex;
      width: 46%;
    }
    & .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }

    .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
      display: none;
    }
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
      font-size: 14px;
      line-height: 20px;
      text-transform: capitalize;
      color: $darker_gray1;
    }
    & img {
      padding-bottom: 3px;
    }
    & .setup-reminder-divider {
      height: 38px;
      border: 1px solid $light_gray3 !important;
    }
  }

  & .assign-operator-btns {
    display: flex;
    justify-content: center;
    gap: 19px;

    & .assign-operator-cancel-btn {
      padding: 12px 46px;
      font-family: "Poppins", sans-serif !important;
      font-size: 16px;
      line-height: 27px;
      color: $pure_black;
      border: 1px solid $light_gray3;
      border-radius: 10px;
      text-transform: capitalize;
      &:hover {
        background-color: $light_gray2;
      }
    }
    & .assign-operator-change-btn {
      @extend .assign-operator-cancel-btn;
      background-color: $purple;
      color: $pure_white;
      &:hover {
        background-color: darken($purple, 10%);
      }
    }
    & .assign-operator-change-btn-disabled {
      @extend .assign-operator-cancel-btn;
      background-color: $light_gray2;
    }
  }

  & .delete-message-btn {
    padding: 12px 46px;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    line-height: 27px;
    color: $lighter_red;
    border: 1px solid $lighter_red;
    border-radius: 10px;
    text-transform: capitalize;
    &:hover {
      background-color: $light_gray2;
    }
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    width: 100%;
  }
  .date-picker {
    border: none;
  }
  .operators-to-assign-container {
    max-width: 492px;
    margin: 0 auto;
    text-align: start;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
    max-height: 140px;

    & .operator-wrapper {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px 0 10px 9px;
      &:hover {
        background-color: $light_gray2;
        cursor: pointer;
      }
      & .operator-avatar-modal {
        width: 24px;
        height: 24px;
      }
      & .operator-name-modal {
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        color: $pure_black;
      }
    }
    & .no-operators-style {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px 0 10px 9px;
      & .no-operators-link {
        cursor: pointer;
        font-weight: 500 !important;
        color: $purple;
        text-decoration: underline;
      }
    }
  }
}
