.image-card{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.card-wrapper{
    padding: 25px;
}
.card-header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 10px;
    cursor: pointer;
    width: 85%;
    border-radius: 20px;
}
.title-card{
    margin-top: 15px;
    font-weight: 700;
}
