// File: App.scss
// This file contains all styles related to the site/application.


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  -ms-overflow-style: none !important;
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
